<html>
    {% load static from static %}
    <head>
        <LINK href='{% static "css/gallery.css" %}' rel="stylesheet" type="text/css">
    </head>
    <body>
        <div class="container">
            <div class="header vertical-center">IMAGE GALLERY (v2.0)</div>
            <div class="center vertical-center">
                <button class="button-4" role="button" onclick="window.location.href = '/'">Go Back</button>
                <button class="button-4" role="button" onclick="clearGallery()">Clear</button>
                <button class="button-4" role="button" onclick="addJavascriptImage()">Let Javascript add an Image</button>
            </div>
        </div>

        <script type="text/javascript" src='{% static "js/gallery.js" %}'></script>
        <script type="text/javascript" src='{% static "js/websockets.js" %}'></script>

    </body>
</html>